*{
  margin: 0;
   padding: 0;
    box-sizing: border-box;
}

 body{

   height: auto;
   /* background-image: url("./audiopic/blur2.jpg"); */
   background: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-repeat: none; 
  background-size: cover;
 }
.container{
   width: 100%;
    height:100vh;
    display: flex;
    
     justify-content: center;
      align-items: center;
     
       flex-wrap: wrap;
        /* background: #3B7DAF;
    */
    
 
      color: white;

      #heading{
         font-size: 70px;
          font-weight: bold;
          color: #ed647b;
      }




}
.audio-container{
   background: #f2c7ce;
  
  height: 600px;
  width: 600px;
   text-align: center;
    margin-top: 1rem;
    padding: 18px 23px;
     color: black;
    
       border-radius:45px 10px 45px 10px;
       
       box-shadow:3px 0 3px 3px rgba(102, 94, 77, 0.775);

       h1 {
        margin-top: 1rem;
      }
      h2,h4{
        margin-top: 1rem;
      }
     
}
.audio-img-wrapper{
 width: 100%;

   display:flex ;
    align-items: center;
     flex-direction: column;
     flex-wrap: wrap;
     padding: 40px 14px 20px 14px;
}
.audio-img{
   width: 180px;  
    height: 180px;    
text-align: center;
border: 2px solid black;
border-radius: 50%;
}
.img{
  height: 100%;
   width: 100%;
    border: 1px solid #fff;
     border-radius: 50%;
      box-shadow: 0 12px 34px rgba(255, 255, 255, 0.274);
}


 .audio-progress{
    width: 400px;
     height: 50px;
   margin-top: 20px;
    margin-left: 6rem;
    /* border: 2px solid black; */
     display: flex;
      justify-content:space-between;
       align-items: center;
        font-size: 1.8rem;
        
 }
 
.bar2{ 
     appearance: none;
      width: 60%;
       height: 0.2rem;
      cursor: pointer;
}

.bar2::-webkit-slider-runnable-track{
  background-color: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.358);
  border-radius: 100px;
  height: 1rem;
  /* box-shadow: inset 0 0 2px black; */
  overflow:hidden;
  
  
}
.bar2::-webkit-slider-thumb{
  appearance: none;
  height: 15px;
   width: 15px;
    background-color:rgb(0, 0, 0);
     border-radius:5px;
      margin-top: -0.5px;
       box-shadow:-180px 0 0 175px rgba(8, 190, 235, 0.88);
    
      }

      
  .curr-time,.duration{
      margin-top: 4px;
  }
  .curr-time{
    margin-right: 2px;
  }
  .duration{
    margin-left: 2px;
  }

 .audio-btns{
   
    margin-top: 10px;
     display: flex;
      justify-content: center;
     /* border: 1px solid red; */
      padding-left: 1.89rem;
   }
    button{
      font-size: 1.2rem;
       margin: 0 70px 0 70px;
        border: none;
         background-color: inherit;
      
    }
      .audio-btns div{
         margin: 20px;
        width: 40px;
         height: 40px;
          display:inline-flex;
           justify-content: center;
            align-items: center;
            
             border-radius: 50%;
              background-color: white;
             

      }
       .audio-btns div:nth-child(2){
         transform: scale(1.6);
          background-color: #ed647b;
           i{
             margin-left: 5px;
           }
           
       }

    .hide{
       width: 0px;
        height: 0px;
         visibility:hidden;
    }
    .p{
       margin-right: 4px;
    }
     

/* animation to heading */
.fade-up {
  animation: fadeUpColors 5s infinite;
  position: relative;
}

@keyframes fadeUpColors {
  0% {
      transform: translateY(50px);
      opacity: 0.4;
      color: #e03955;;
  }
  25% {
      color: orange;
      opacity: 0.75;
  }
  50% {
      transform: translateY(0);
      color: yellow;
      opacity: 1;
  }
  75% {
      color: orange;
      opacity: 0.75;
  }
  100% {
      transform: translateY(-50px);
      color:#ed3c5a;;
      opacity: 0.4;
  }
}


















    
 @media (min-width:767px) and (max-width:1023px){
    .container{
       display: flex;
        flex-wrap: wrap;

        #heading{
          font-size: 40px;
        }
    }
     .audio-container{
      width: 500px;
      height: 520px;
     }
     .audio-img-wrapper{
       padding: 7px 14px 7px 14px;
     }
     .audio-progress{
      margin-top: 3px;
      margin-left: 2rem;
     }
 }






@media (min-width:375px) and (max-width:765px){
     
   
  .container{ 
     width: 100%;
     height: 80vh;
     display: flex;
     justify-content: center;
     align-items: center;
      flex-wrap: wrap;
       /* padding-top: 18px; */
      
       


      #heading{
        font-size: 29px;
         letter-spacing: -1.5px;
      }
      .audio-container{
        width:397px;
         margin-bottom:1.2rem;
        height: auto;
       
      }
      .audio-progress {
        width: 362px;
        height: 50px;
        margin-top: 1px;
         margin-left:2px; 
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.8rem;
    }
  }



  .fade-up {
    animation: fadeUpColors 5s infinite;
    position: relative;
  }
  
  @keyframes fadeUpColors {
    0% {
        transform: translateY(40px);
        opacity: 0.4;
        color: #e03955;;
    }
    25% {
        color: orange;
        opacity: 0.75;
    }
    50% {
        transform: translateY(0);
        color: yellow;
        opacity: 1;
    }
    75% {
        color: orange;
        opacity: 0.75;
    }
    100% {
        transform: translateY(-40px);
        color:#ed3c5a;;
        opacity: 0.4;
    }
  }
      
}
