*{
  margin: 0;
   padding: 0;
    box-sizing: border-box;
}

.container{
   width: 100%;
    height: 100vh;
    display: flex;
     justify-content: center;
      align-items: center;
       flex-direction: column;
       flex-wrap: wrap;
        /* background: #3B7DAF;
    */
     background-image: url("./audiopic/blur2.jpg");
      background-repeat: none;
     background-size: cover;
 
      color: white;
}
.audio-container{
   /* background: #ffe0e5; */
   background: #32364fc4;
    height: 700px;
  width: 600px;
   text-align: center;
     margin-top: 1rem;
    padding: 23px 23px;
     color: #fff;
      border-radius:1rem;
       box-shadow:3px 0 3px 3px rgba(255, 255, 255, 0.379);
     
}
.audio-img-wrapper{
 width: 100%;
 /* border: 2px solid red; */
  display:flex ;
   justify-content: center;
    align-items: center;
     flex-direction: column;
     flex-wrap: wrap;
     padding: 70px 14px 20px 14px;
}
.audio-img{
   width: 180px;  
    height: 180px;    
text-align: center;
border: 2px solid black;
border-radius: 50%;
}
.img{
  height: 100%;
   width: 100%;
    border: 1px solid #fff;
     border-radius: 50%;
      box-shadow: 0 12px 34px rgba(255, 255, 255, 0.274);
}
h1{
  margin-top: 1rem;
}
h2,h4{
  margin-top: 1rem;
}

 /* @media (max-width:320px),(max-height:626px){
      .container{
       width: 43.54vh;
        height: 85.17vh;
      }
       .audio-container{
          width: 320px;
          height: 626px;
       }
       .audio-progress{
          width: 100%;
         margin:2px;
       }

 } */

  /* @media(max-width:526px){
    .container{
      height: 200vh;
    }
   .audio-container{
     width: 400px;
     height: 550px;
  }


  } */
 
  /* @media(max-width:420px){
    .container{
      width: 4480px;
    }
   .audio-container{
     width: 360px;
     height: 550px;
  }


  }
  */
 .audio-progress{
    width: 300px;
     height: 50px;
   margin-top: 32px;
    margin-left: 8.85rem;
    /* border: 2px solid black; */
     display: flex;
      justify-content:space-between;
       align-items: center;
        font-size: 1.8rem;
        
 }
 /* .duration-div{
     display: flex;
      justify-content: space-between;
      
 } */
.bar2{ 
     appearance: none;
      width: 60%;
       height: 0.2rem;
      cursor: pointer;
}

.bar2::-webkit-slider-runnable-track{
  background-color: #ddd;
  border: 1px solid rgba(0, 0, 0, 0.358);
  border-radius: 100px;
  height: 0.65rem;
  box-shadow: inset 0 0 2px black;
  overflow:hidden;
  
  
}
.bar2::-webkit-slider-thumb{
  appearance: none;
  height: 9px;
   width: 9px;
    background-color:rgb(4, 4, 110);
     border-radius: 50%;
      margin-top: -0.5px;
       box-shadow:-185px 0 0 180px rgba(8, 235, 141, 0.886);
      }

      
  .curr-time,.duration{
      margin-top: 4px;
  }
  .curr-time{
    margin-right: 2px;
  }
  .duration{
    margin-left: 2px;
  }

 .audio-btns{
   
    margin-top: 10px;
     display: flex;
      justify-content: center;
     /* border: 1px solid red; */
      padding-left: 1.89rem;
   }
    button{
      font-size: 1.2rem;
       margin: 0 70px 0 70px;
        border: none;
         background-color: inherit;
      
    }
      .audio-btns div{
         margin: 20px;
        width: 40px;
         height: 40px;
          display:inline-flex;
           justify-content: center;
            align-items: center;
            
             border-radius: 50%;
              background-color: white;

      }
       .audio-btns div:nth-child(2){
         transform: scale(1.6);
          background-color: pink;
           
       }

    .hide{
       width: 0px;
        height: 0px;
         visibility:hidden;
    }
     
    
 

